body {
  background-image: url(../123.jpg);
  color: #fff;
}

.highlight {
  background-color: #ffeb3b; /* Яркий желтый цвет для выделения */
}
h2 {
  text-transform: capitalize;
  color: #fff;
}
.highlight-row {
  background-color: rgba(
    0,
    255,
    0,
    0.3
  ) !important; /* Цвет выделенной строки */
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.developer {
  position: absolute;
  top: 20px;
  display: flex;
  text-align: right;
  right: 20px;
  font-weight: bold;
  flex-direction: column;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.bam-servis {
  margin: 0 auto;
  width: 100%;
  font-size: 35px;
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.green-span {
  height: 30px;
  width: 100px;
  background-color: green;
  display: block;
}
.entry-block {
  text-align: center;
  display: flex;
  align-items: center;
}

.red-span {
  height: 30px;
  width: 100px;
  background-color: red;
  display: block;
}
.gold-span {
  height: 30px;
  width: 100px;
  background-color: gold;
  display: block;
}
.yellow-span {
  height: 30px;
  width: 100px;
  background-color: yellow;
  display: block;
}
h1 {
  width: 300px;
  display: flex;
  border-radius: 50px;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}

/* Стиль для выделенных строк в таблице */
tr.highlight {
  background-color: #ffeb3b;
}

/* Стиль для текущего дня */
.is-today {
  border: 2px solid red;
}
textarea {
  padding: 10px;
  margin: 5px;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 150px;
  text-align: center;
}
/* Стили для инпутов */
input[type="date"],
input[type="text"],
input[type="number"],
select {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 100px;
}

input[type="checkbox"] {
  margin: 0 5px;
}

/* Стили для таблицы */
table {
  width: 100%;
  color: black;
  background-color: #fff;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  text-align: center;
}
.today-class {
  background-color: yellow; /* или любой другой стиль, который вам нравится */
  font-weight: bold;
}
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}
.nav-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 142px;
}
.drivers-new {
  padding: 10px !important;
  width: 150px !important;
}
.sticky {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: white; /* Фон для заголовков */
  z-index: 1; /* Чтобы заголовки были над содержимым */
  border-bottom: 2px solid #ccc; /* Для визуального разделения */
  text-align: center;
}
.username {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid;
  padding: 5px;
}
.month {
  margin-top: 20px;
}
.panel {
  font-size: 20px;
  font-weight: bold;
}
