* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: url(../54433.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.highlight {
  background-color: #ffeb3b; /* Яркий желтый цвет для выделения */
}
h2 {
  text-transform: capitalize;
  width: 170px;
  padding: 5px 10px;
  text-align: center;
}
.highlight-row {
  background-color: rgba(
    67,
    75,
    67,
    0.3
  ) !important; /* Цвет выделенной строки */
}
.time {
  font-size: 20px;
  display: flex;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.developer {
  right: 20px;
  color: black;
  font-weight: bold;
}
.total {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  text-decoration: underline;
  margin-left: 10px;
}
.statistic {
  width: 500px;
  text-shadow: -1px 2px 2px rgb(0 0 0);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-profile {
  font-size: 17px;
  display: flex;
  background: rgb(0 0 0 / 21%);
  padding: 5px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.tow-table-td {
  max-width: 500px !important;
}
.order {
  display: flex;
  border-top: 1px solid red;
  align-items: center;
  background: radial-gradient(gold, transparent);
  justify-content: center;
}
.order:first-child {
  border-top: none;
}
.order p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 19px;
  color: rgb(59, 20, 20);
  padding: 5px 10px;
  width: 100%;
  max-width: 250px;
  font-weight: bold;
}
.select {
  width: 170px;
}
.orderZa {
  border: 10px solid gold;
  max-width: 300px;
  text-align: center;
  margin-left: 50px;
}
.ula {
  padding: 0;
}
.order span {
  border-top: 2px solid black;
  margin-top: 5px;
  font-size: 24px;
  color: #fff;
}
.arenda {
  margin: 0 auto;
  width: 350px;
  color: #fff;
  text-transform: none;
  font-size: 25px;
  background: gold;
}
.no-order {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.bam-servis {
  margin: 0 auto;
  width: 100%;
  text-shadow: -4px 0px 0px black;
  background: radial-gradient(gold, transparent);
  color: #fff;
  text-decoration: underline;
  font-size: 35px;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.green-span {
  height: 30px;
  width: 100px;
  background-color: green;
  display: block;
  margin-right: 5px;
}

.entry-block {
  text-align: center;
  display: flex;
  text-shadow: -1px 2px 2px rgb(0 0 0);
  color: #fff;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.red-span {
  height: 30px;
  width: 100px;
  background-color: red;
  display: block;
  margin-right: 5px;
}
.gold-span {
  height: 30px;
  width: 100px;
  background-color: gold;
  display: block;
  margin-right: 5px;
}
.yellow-span {
  height: 30px;
  width: 100px;
  background-color: yellow;
  margin-right: 5px;

  display: block;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login h1 {
  text-transform: none;
  text-align: center;
  padding: 15px;
}
.link-home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link-home button {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
}
h1 {
  width: 300px;
  color: #fff;
  text-align: center;
  display: flex;
  border-radius: 50px;
  background: #916767b0;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid;
}
.highlight-delete {
  background-color: #007bff !important;
}
tr.highlight + .row-inCompleted .row-row {
  background-color: #ffeb3b !important;
}
tr.highlight + .row-completed .row-row {
  background-color: #ffeb3b !important;
}
tr.highlight + .row-comand .row-row {
  background-color: #ffeb3b !important;
}
tr.highlight + .row-in-progress .row-row {
  background-color: #ffeb3b !important;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
.btn-del {
  margin: 3px !important;
  padding: 0 4px !important;
}
button:hover {
  background-color: #0056b3;
}

/* Стиль для выделенных строк в таблице */
tr.highlight {
  background-color: #ffeb3b;
}

/* Стиль для текущего дня */
.is-today {
  border: 2px solid red;
  width: 170px;
  padding: 5px 10px;
  text-align: center;
}
textarea {
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 150px;
  text-align: center;
  display: flex;
}
.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#reload_href {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errro {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 25px;
  text-align: center;
  background: aliceblue;
}
.login h1 {
  padding: 5px;
}
.login-profile {
  padding: 3px;
}
.login h2 {
  color: #fff;
  font-size: 25px;
  text-transform: none;
  width: 100%;
  margin: 10px 0;
  font-weight: bold;
}
.login input {
  width: 225px !important;
}
.login button {
  width: 150px !important;
  height: 35px;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Стили для инпутов */
input[type="date"],
input[type="text"],
input[type="number"],
input[type="password"],
select {
  text-align: center;
  width: 100px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin: 0 5px;
}

/* Стили для таблицы */
table {
  width: 90%;
  color: black;
  background-color: #fff;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.table-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sticky-h1 {
  position: sticky;
  top: 60px;
}
th,
td {
  text-align: center;
  width: 50px !important;
  padding: 0;
}

th {
  background-color: #f4f4f4;
  text-align: center;
  width: 50px !important;
}
.today-class {
  background-color: yellow; /* или любой другой стиль, который вам нравится */
  font-weight: bold;
}
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}
.nav-profile {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.drivers-new {
  padding: 10px !important;
  width: 150px !important;
}
.sticky {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: white; /* Фон для заголовков */
  z-index: 1; /* Чтобы заголовки были над содержимым */
  border-bottom: 2px solid #ccc; /* Для визуального разделения */
  text-align: center;
}
.username {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid red;
  padding: 5px;
}
.row-comand {
  background-color: #5ca084 !important;
}
.select-rem {
  width: 120px;
}

.row-inCompleted {
  background-color: gray !important;
}
.row-completed {
  background-color: red !important;
}

.row-in-progress {
  background-color: #a36c6c !important;
}
.input-ovner {
  font-size: 16px;
}
.month {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-#ffeb3b {
  background-color: #ffeb3b;
}
.sybarenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid red;
  padding: 10px 0;
  width: 280px;
}
.baza {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  padding: 10px 0;
  width: 280px;
  flex-direction: column;
}
.entrys {
  display: flex;
  align-items: center;
  border: 1px solid red;
  padding: 10px 0;
  width: 280px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.driv {
  display: flex;
  text-align: center;
  border: 1px solid red;
  padding: 10px 0;
  width: 280px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel {
  font-size: 20px;
  font-weight: bold;
}

/* Стиль для контейнера спиннера */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Стиль для спиннера */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Цвет внешнего круга */
  border-left-color: #09f; /* Цвет вращающейся части */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: relative; /* Для абсолютного позиционирования текста */
}

/* Анимация вращения спиннера */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Стиль для текста внутри спиннера */
.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрирование текста */
  font-size: 18px;
  font-weight: bold;
  color: #09f;
  animation: pulse 0.5s infinite; /* Пульсация текста */
  z-index: 1; /* Текст поверх спиннера */
}

/* Анимация пульсации текста */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
.logo-login {
  background-image: url(../123.png);
  width: 200px;
  height: 162px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 80px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transform: translate(-295px, 50%);
  transition: all 1s;
  background-color: #fff;
  z-index: 999999;
}
.data:hover {
  transform: translate(-60px, 50%);
}
@media (max-width: 800px) {
  .data {
    position: static;
    transform: translate(0);
  }
  .sticky-h1 {
    color: #fff;
  }
  .login h1 {
    color: #fff;
  }
  .login h2 {
    color: #fff;
  }
  .nav-profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #000;

    left: 50px;
  }
  .table-flex {
    display: block;
  }
  .bam-servis {
    text-align: center;
  }

  .wrapper {
    flex-direction: column;
  }
  input[type="date"],
  input[type="text"],
  input[type="number"],
  input[type="password"],
  select {
    margin-right: 15px;
  }
  .month {
    display: none;
    flex-direction: row;
  }
  .sybarenda {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .baza {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .entrys {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  .tow-table-td {
    max-width: 320px !important;
  }
  .driv {
    flex-direction: column;
    align-items: center;
  }
  .statistic {
    display: none;
    flex-direction: column;
    text-shadow: -4px 0px 0px black;
    color: #fff;
    align-items: center;
  }
  .entry-block {
    display: none;
    margin-bottom: 15px;
  }
  body {
    padding: 0;
    background-size: cover;
    height: 100vh;
    background-repeat: repeat;
  }
}
